@{
    ViewData["Title"] = "Denied";
}

<div class="text-center">
    <h1 class="display-4">Usted no tiene permisos para acceder a esta pagina. </h1>
        <h2 class="display-3"> Pongase en contacto con el administrador. </h2>
    
</div>





